<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AirSandboxSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA1EB6A11F21F9B700A85225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1EB6B51F21F9B700A85225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1EB6C01F21F9B700A85225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
